.swiper-slide {
    text-align: center;
    font-size: 18px;
      display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 80%;
    height: 52vh;
    object-fit: cover;
  }